<html>
<head>
    
    <title>Cliente</title>
    
</head>
<body>
    <h1>Lista de pedidos segun fecha</h1>    
    
    {% if pedidos %}

        <p>Pedidos encontrados: {{pedidos|length}}</p>

        <ul>
            {% for pedido in pedidos %}
                <li>
                    {{pedido.name}} &nbsp;compro la {{pedido.nombre_opcion}} &nbsp;el {{pedido.fecha}} &nbsp; {{pedido.detalle}}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        
        <p>no hay pedidos</p>

    {% endif %}

    <form action="/login/" method="GET">   
        
        <p><input type="submit" value="Volver"></p>
            
    </form>
    
</body>
</html>