<html>
<head>
    
    <title>Admin</title>
    
</head>
<body>
    
    <h1>Bienvenido Administradora <strong>{{cliente.0.nombre}}</strong></h1>
    
    <form action="/nuevo_menu/" method="GET">

        <p>Ingresar Menus del dia: <input type="number" name="num_menus" style="width: 40px">
        
        <input type="submit" value="Crear"></p>

    </form>

    <form action="/nuevos_platos/" method="GET">

        <p>Ingresar Platos nuevos: <input type="number" name="num_platos" style="width: 40px">
        
        <input type="submit" value="Crear"></p>

    </form>

    <form action="/ver_pedidos/" method="GET">

        <p>Ver menus solicitados
        
        <input type="submit" value="Ver"></p>
            
    </form>    

</body>
</html>