<html>
<head>
    
    <title>Login</title>
    
</head>
<body>
    <h1>Ingrese su rut con puntos(.) y guion(-)</h1>

    <!--<form action="/login/" method="POST">{% csrf_token %}-->
    <form action="/login_respuesta/" method="GET">

        <p>Rut: <input type="text" name="rut">
        
        <input type="submit" value="Buscar"></p>        
            
    </form>

    <ul>        
        <li>
            Admin 12.345.678-9
        </li>           
        <li>
            Cliente 16.484.009-3 
        </li>
        <li>
            Cliente 16.484.000-3
        </li>
        <li>
            Cliente 16.484.001-3
        </li>
        <li>
            Cliente 16.484.002-3
        </li>
        <li>
            Cliente 16.484.003-3
        </li>    
    </ul>
    
</body>
</html>